**/Makefile
**/Makefile.in
**/*.log
**/*.trs
**/*.o
**/*.la
**/*.lo
**/.libs

tests/test-blas-matrix
tests/test-charpoly
tests/test-commentator
tests/test-cra
tests/test-det
tests/test-frobenius
tests/test-rank-Int
tests/test-rank-md
tests/test-rank-u32
tests/test-rational-solver
tests/test-rational-solver-adaptive
tests/test-smith-form-binary
tests/test-solve
tests/test-regression
INSTALL
_configs.sed
aclocal.m4
autogen.status
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
doc/Doxyfile
doc/DoxyfileDev
examples/charpoly
examples/checksolve
examples/det
examples/dot-product
examples/doubledet
examples/echelon
examples/graph-charpoly
examples/grid_reduce
examples/minpoly
examples/omp_smithvalence
examples/poweroftwo_ranks
examples/rank
examples/smith
examples/smithvalence
examples/solve
examples/sparseelimdet
examples/sparseelimrank
examples/valence
examples/benchmatpolymult
examples/benchfft
examples/polysmith
benchmarks/benchmark-example
libtool
linbox-config
linbox/config.h
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
stamp-h1
