#relat h2+div
{
	/* color: rgba(90,102,130,0.75); */
	column-count: 2;  
	column-gap: 22px;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

#relat a
{
	/* color: rgba(90,102,130,0.75); */
	color: rgba(90,102,130,1);
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

#relat a:hover
{
	color: #444;
	/* color: #111; */
}

#preloader_givaro {
	/* Images you want to preload*/
	background: url('http://www.linalg.org/linbox/images/givaro.png')  no-repeat -9999px -9999px;
	width: 1px;
	height: 1px;
	display: inline-block;
}
#preloader_fflas-ffpack{
	/* Images you want to preload*/
	background: url('http://www.linalg.org/linbox/images/fflas-ffpack.png')  no-repeat -9999px -9999px;
	width: 1px;
	height: 1px;
	display: inline-block;
}
#preloader_linbox{
	/* Images you want to preload*/
	background: url('http://www.linalg.org/linbox/images/linbox.png') no-repeat -9999px -9999px;
	width: 1px;
	height: 1px;
	display: inline-block;
}


#linbox #img-linbox
{
	background: url('http://www.linalg.org/linbox/images/linbox_gray.png') no-repeat;

	height: 150px;
	width: 223px;
	display: block;
	margin: 5px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#linbox:hover #img-linbox
{
	background: url('http://www.linalg.org/linbox/images/linbox.png') no-repeat;

}

#linbox:hover h2 a {
color: rgba(90,102,130,0.8);
}

#givaro #img-givaro
{
	background: url('http://www.linalg.org/linbox/images/givaro_gray.png') no-repeat;

	height: 150px;
	width: 223px;
	display: block;
	margin: 5px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#givaro:hover #img-givaro
{
	background: url('http://www.linalg.org/linbox/images/givaro.png') no-repeat;

}

#givaro:hover h2 a {
color: rgba(90,102,130,0.8);
}


#fflas-ffpack #img-fflas-ffpack
{
	background: url('http://www.linalg.org/linbox/images/fflas-ffpack_gray.png') no-repeat; 

	height: 150px;
	width: 223px;
	display: block;
	margin: 5px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#fflas-ffpack:hover #img-fflas-ffpack
{
	background: url('http://www.linalg.org/linbox/images/fflas-ffpack.png') no-repeat ;

}


#fflas-ffpack:hover h2 a {
color: rgba(90,102,130,0.8);
}

#othernav {
	display: block;
	background-color:#ddd;
	top: 0;
	text-align:center;
}
