/* Based on code by Peter Gasston, 2010. Modified by dedide, 2011. Modified by Brice. */

/* General styles */

article, section, header, footer { display: block; }

/* html, body, .container { height: 100%; } */

body {
	/* background-image: url(images/xxx.jpg); */
	color: #222;
	/* font: 10px/1 Georgia, 'Times New Roman', Times, serif; */
	font-family: 'Droid Serif', Times, serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

header, article, footer {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%;
}

header, article {
	/* border: 10px solid #ddd; */
	border-width: 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article {
	/* margin 10px; */
	/* box-shadow: 3px 3px 7px #777;  */
	/* border-radius: 6px; */
}

.container {
	background-color: rgba(90,102,130,0.75);
	margin: 0 auto;
	width: 850px;
	-webkit-box-shadow: 3px 3px 7px #777; 
	-moz-box-shadow: 3px 3px 7px #777; 
	box-shadow: 3px 3px 7px #777; 
}


section {
	background-color: rgba(90,102,130,0.75);
}

/* Typography */

h1, h2, p {
	margin: 0;
	padding: 0;
}

h1, h2 { font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

h1 {
	color: #111;
	font-size: 240%;
	line-height: 1;
	text-shadow: 1px 1px white;
}

h2 {
	font-size: 180%;
	line-height: 1.166;
	margin-bottom: 4px;
}

h2 a {
	color: #222;
	text-decoration: none;
}

h2 a:hover { color: rgba(90,102,130,0.75); }

p, ul {
	font-size: 130%;
	line-height: 1.54;
	/* font-family: 'Droid Serif', Times, serif;  */
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

/* Header */

header {
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align:center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
	/* background: url('images/xxx.jpg') no-repeat 50% 50%; */
	min-height: 200px;
}

header div {
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
	box-flex: 0;
	background-color: rgba(255,255,255,0.75);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
	width: 480px;
}

header p {
	color: black;
	font-size: 160%;
	line-height: 1.5;
	text-shadow: 1px 1px white;
}

/* Main Content */
.main{
	background-color: #DDD;
	padding: 5px;
	/* margin-right: 10px; */
	/* margin-left: 5px; */
	/* width:99%; */
	/* float:center; */
	width: 830px;
	margin-left: 5px;;
	/* float: center; */
	/* XXX CENTER */ 
	border-radius: 6px;

}


article, section {
	background-color: #DDD;
	padding: 5px;
	/* margin-right: 10px; */
	/* margin-left: 5px;; */
	/* width:99%; */
	/* float:center; */
	/* width: 840px; */
	/* float: center; */
	/* XXX CENTER */ 
}

section {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	background-color: #f3f8fb;
	border: 10px solid #DDD;
	padding: 10px;
	width: 180px;
}

/* Footer */

footer {
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center,
	-moz-box-pack: end;
	-webkit-box-pack: end;
	box-pack: end;
	/* background-color: rgba(90,102,130,0.75); */
	min-height: 100px;
}

footer div {
	/* -moz-box-flex: 0; */
	/* -webkit-box-flex: 0; */
	/* box-flex: 0; */
	/* -moz-border-radius: 6px 0 0 6px; */
	/* -webkit-border-radius:  6px 0 0 6px; */
	/* border-radius: 6px 0 0 6px; */
	/* background-image: url(images/xxx.jpg); */
	margin-top:20px;
	font-style: italic;
	padding: 10px;
	width: 400px;
}


nav {  
	width: 100%;
	/* display: block; */
	/* position: relative; */

	/* display: box;
	box-flex: 1;
	box-align: stretch;
	box-pack: justify;
	box-orient: horizontal;    */


}

nav ul {
	margin: 0 auto;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	/* position: absolute; */
	/* display: box; */
	/* width: 840px; */

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify ;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: justify;
	-moz-box-align: stretch;

	display: box;
	box-orient: horizontal;
	box-pack: justify;
	box-align: stretch;


}

nav ul li {  
	/* float: left; */
	/* display: inline-block; */
	width: auto;
	background-color: rgba(90,102,130,0.5);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: auto;  

}  

nav ul li a {  
	font-size: 100%;
	text-align: center;  
	text-decoration: none;  
	color: #111;
}

nav ul li a:hover {  
	color: #fff;
}  

nav p.selected a {  
	color: #fff;  
}  

/* nav ul li.subscribe a {  
	margin-left: 22px;  
	padding-left: 33px;  
	text-align: left;  
	background: url("rss.png") left center no-repeat;  
}                                                              */


