checker
test-bitonic-sort
test-blackbox-block-container
test-blas-domain
test-butterfly
test-companion
test-dense
test-diagonal
test-dif
test-direct-sum
test-echelon-form
test-ffpack
test-fibb
test-getentry
test-gf2
test-givaropoly
test-gmp-rational
test-hilbert
test-hom
test-inverse
test-last-invariant-factor
test-matrix-domain
test-matrix-stream
test-minpoly
test-modular-balanced-float
test-modular-double
test-modular-float
test-modular-int
test-ntl-hankel
test-ntl-lzz_p
test-ntl-lzz_pe
test-ntl-lzz_pex
test-ntl-lzz_px
test-ntl-rr
test-ntl-sylvester
test-ntl-toeplitz
test-ntl-zz_p
test-nullspace
test-order-basis
test-param-fuzzy
test-permutation
test-plain-domain
test-qlup
test-randiter-nonzero
test-random-matrix
test-rational-matrix-factory
test-scalar-matrix
test-smith-form
test-smith-form-adaptive
test-smith-form-iliopoulos
test-smith-form-local
test-sparse2
test-subiterator
test-submatrix
test-subvector
test-sum
test-toeplitz-det
test-toom-cook
test-trace
test-transpose
test-triplesbb
test-triplesbb-omp
test-vector-domain
test-zero-one
