body {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	width: 610px;
	margin-left: auto;
	margin-right: auto;

	background: white;
	color: black;
	font-family: sans-serif;
	font-size: small;
}

a         { text-decoration: none; font-weight: bold; }
a:link    { color: #663300; background-color: inherit; }
a:visited { color: #333300; background-color: inherit; }

p {
	margin-top: 0;
}

hr {
	background-color: black;
	color: inherit;
	border: none;
	height: 1px;
}

h1 {
	display: block;
	font-size: x-large;
}

h2 {
	display: block;
	font-size: medium;
	margin: 0;
}

h3 {
	display: block;
	font-size: medium;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: small;
}

div.HeaderFooter {
	display: block;

	background: #ffffcc;
	color: black;
	font-size: x-small;
	border-width: thin;
	border-style: outset;
	padding: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#LinksPart {
	font-size: x-small;
	width: 15%;	
}

td.HomeLinksPart {
	font-size: medium;
	width: 50%;
}

td.HomeDescriptionPart {
	width: 50%;
}

table.MainTable {
	margin-left: auto;
	margin-right: auto;
}

#MainPart {
	font-size: small;
	width: 85%;
}

#BottomPart {
	font-size: small;
}

#BottomPart img {
	float: right;
	border: 0;
}

#Footnotes {
	font-size: x-small;
}

table.PeopleTable {
	margin-bottom: 10pt;
}

table.PeopleTable td {
	font-size: x-small;
	vertical-align: top;
}

table.PeopleTable td.PlaceEntry {
	padding-top: 15pt;
	padding-left: 0pt;
	font-size: small;
}

table.DirectoryTable td {
	vertical-align: top;
}

table.ServersList td {
	padding-left: 20pt;
	padding-right: 20pt;
}

table.ServersList th {
	padding-left: 20pt;
	padding-right: 20pt;
}

table.PerformanceTable { 
	font-size: small;
}

table.PerformanceTable tr.Header { 
	background-color: #ffff99;
	color: black;
}

table.PerformanceTable td.Fastest { 
	background-color: white;
	color: red;
}

table.PerformanceTable tbody tr:first-child td { 
	padding-top: 10px;
}

table.PerformanceTable td + td + td + td { 
	text-align: right;
}

