/* Based on code by Peter Gasston, 2010. Modified by dedide, 2011 and distributed by http://freehtml5templates.com */

/* General styles */

article, section, header, footer { display: block; }

/* html, body, .container { height: 100%; } */

body {
	/* background-image: url(images/xxx.jpg); */
	color: #222;
	font: 10px/1 Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

header, article, footer {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%;
}

header, article {
	/* border: 10px solid #ddd; */
	border-width: 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	background-color: rgba(90,102,130,0.75);
	margin: 0 auto;
	width: 850px;
	-webkit-box-shadow: 3px 3px 7px #777; 
	-moz-box-shadow: 3px 3px 7px #777; 
	box-shadow: 3px 3px 7px #777; 
}

section {
	background-color: rgba(90,102,130,0.75);
}

/* Typography */

h1, h2, p {
	margin: 0;
	padding: 0;
}

h1, h2 { font-family: 'Tenor Sans', Helvetica, Arial, sans-serif; }

h1 {
	color: #111;
	font-size: 240%;
	line-height: 1;
	text-shadow: 1px 1px white;
}

h2 {
	font-size: 180%;
	line-height: 1.166;
	margin-bottom: 4px;
}

h2 a {
	color: #222;
	text-decoration: none;
}

h2 a:hover { color: rgba(90,102,130,0.75); }

p, ul {
	font-size: 130%;
	line-height: 1.54;
}

/* Header */

header {
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align:center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
	/* background: url('images/xxx.jpg') no-repeat 50% 50%; */
	min-height: 220px;
}

header div {
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
	box-flex: 0;
	background-color: rgba(255,255,255,0.75);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
	width: 480px;
}

header p {
	color: black;
	font-size: 160%;
	line-height: 1.5;
	text-shadow: 1px 1px white;
}

/* Main Content */

article, section {
	background-color: #DDD;
	padding: 10px;
}

section {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	background-color: #f3f8fb;
	border: 10px solid #DDD;
	padding: 10px;
	width: 180px;
}

/* Footer */

footer {
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center,
	-moz-box-pack: end;
	-webkit-box-pack: end;
	box-pack: end;
	background-color: rgba(90,102,130,0.75);
	min-height: 100px;
}

footer div {
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
	box-flex: 0;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius:  6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	/* background-image: url(images/xxx.jpg); */
	font-style: italic;
	padding: 10px;
	width: 400px;
}


#linbox
{
	background-image: url('images/linbox_gray.png');

	height: 150px;
	width: 223px;
	display: block;
}

#linbox:hover
{
	background: url('images/linbox.png');

}

#givaro
{
	background-image: url('images/givaro_gray.png');

	height: 150px;
	width: 223px;
	display: block;
}

#givaro:hover
{
	background: url('images/givaro.png');

}

#fflas
{
	background-image: url('images/fflas_gray.png');

	height: 150px;
	width: 223px;
	display: block;
}

#fflas:hover
{
	background: url('images/fflas.png');

}



/* #linbox 
{
	background-image: url("http://www.linalg.org/linbox/");
	width: "223";
	height:"150";
	display:block;
}

#linbox:hover {
	background: url("http://www.linalg.org/linbox/images/givaro.png");
}                                                                                   */

nav {  
	position: absolute;  
	left: 0;  
	width: 100%;  
	/* background: url("nav"); */
	/* -moz-border-radius: 6px; */
	/* -webkit-border-radius: 6px; */
	/* border-radius: 6px; */
	/* background-color: rgba(255,255,255,0.75); */
	/* background-color: rgba(90,102,130,0.75); */


}  

nav ul {  
	margin: 0 auto;  
	width: 850px;  
	list-style: none;  
}

nav ul li {  
	float: left;  
}  

nav ul li a {  
	background-color: rgba(90,102,130,0.75);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	display: block;  
	margin-right: 20px;  
	width: 140px;  
	font-size: 100%;
	line-height: auto;  
	text-align: center;  
	text-decoration: none;  
	color: #111;
}  

nav ul li a:hover {  
	color: #fff;
}  

nav ul li.selected a {  
	color: #fff;  
}  

nav ul li.subscribe a {  
	margin-left: 22px;  
	padding-left: 33px;  
	text-align: left;  
	background: url("rss.png") left center no-repeat;  
}  

#relat
{
	/* color: rgba(90,102,130,0.75); */
	column-count: 2;  
	column-gap: 22px;
}

#relat a
{
	/* color: rgba(90,102,130,0.75); */
	color: rgba(90,102,130,1);
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

#relat a:hover
{
	color: #444;
	/* color: #111; */
}
