body {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	width: 610px;
	margin-left: auto;
	margin-right: auto;

	background: white;
	font-family: sans-serif;
	font-size: small;
}

a         { text-decoration: none; font-weight: bold; }
a:link    { color: #663300; }
a:visited { color: #333300; }

p {
	margin-top: 0;
}

hr {
	background-color: black;
	border: none;
	height: 1px;
}

h1 {
	display: block;
	font-size: x-large;
}

h2 {
	display: block;
	font-size: medium;
	margin: 0;
}

h3 {
	display: block;
	font-size: medium;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: small;
}

#LinksPart {
	font-size: x-small;	
}

td.HomeLinksPart {
	font-size: medium;
}

#MainPart {
	font-size: small;
}

#BottomPart img {
	float: right;
	border: 0;
}

#Footnotes {
	font-size: x-small;
}

table.PeopleTable {
	margin-bottom: 10pt;
}

table.PeopleTable td {
	font-size: x-small;
	vertical-align: top;
}

table.PeopleTable td.PlaceEntry {
	padding-top: 15pt;
	padding-left: 0pt;
	font-size: small;
}

table.DirectoryTable td {
	vertical-align: top;
}

table.ServersList td {
	padding-left: 20pt;
	padding-right: 20pt;
}

table.ServersList th {
	padding-left: 20pt;
	padding-right: 20pt;
}
