
granularity: each sample hit covers 4 byte(s) for 0.20% of 4.95 seconds

index % time    self  children    called     name
                                                 <spontaneous>
[1]    100.0    0.00    4.95                 main [1]
                0.36    4.54    1768/1768        Plateau::ennemi_ab(int, double, double, short, short) [2]
                0.00    0.04    1083/100553      Plateau::UpdatePM(PossibleMove &, short, short) [3]
                0.00    0.00    2900/314904      Plateau::move(vector<short, allocator<short> > &, Coup const &, bool) [9]
                0.00    0.00    2900/314904      Plateau::unmove(vector<short, allocator<short> > const &, Coup const &, bool) [10]
                0.00    0.00     550/5028200     Plateau::UpdatePM(PossibleMove &, short, int, int, bool &) [4]
                0.00    0.00     172/1017564     Coup::Coup(Coup const &) [7]
                0.00    0.00      13/13          vector<PossibleMove, allocator<PossibleMove> >::insert(PossibleMove *, unsigned int, PossibleMove const &) [17]
                0.00    0.00      10/1927129     vector<Position, allocator<Position> >::_M_insert_aux(Position *, Position const &) [6]
                0.00    0.00       5/174         vector<Coup, allocator<Coup> >::_M_insert_aux(Coup *, Coup const &) [15]
                0.00    0.00     238/238         vector<Position, allocator<Position> >::operator=(vector<Position, allocator<Position> > const &) [22]
                0.00    0.00      10/313222      vector<short, allocator<short> >::insert(short *, unsigned int, short const &) [14]
                0.00    0.00     104/209         Possibility::~Possibility(void) [46]
                0.00    0.00      35/257902      vector<Coup, allocator<Coup> >::insert(Coup *, unsigned int, Coup const &) [23]
                0.00    0.00      22/22          Timer::operator+(Timer const &) const [48]
                0.00    0.00      22/22          Timer::operator=(Timer const &) [47]
                0.00    0.00      18/18          PossibleMove::PossibleMove(void) [51]
                0.00    0.00      17/17          vector<double, allocator<double> >::insert(double *, unsigned int, double const &) [24]
                0.00    0.00      14/14          vector<vector<short, allocator<short> >, allocator<vector<short, allocator<short> > > >::insert(vector<short, allocator<short> > *, unsigned int, vector<short, allocator<short> > const &) [25]
                0.00    0.00       1/1           Plateau::~Plateau(void) [54]
-----------------------------------------------
                               84719             Plateau::ennemi_ab(int, double, double, short, short) [2]
                0.36    4.54    1768/1768        main [1]
[2]     99.0    0.36    4.54    1768+84719   Plateau::ennemi_ab(int, double, double, short, short) [2]
                0.37    4.00   99470/100553      Plateau::UpdatePM(PossibleMove &, short, short) [3]
                0.09    0.02  312004/314904      Plateau::move(vector<short, allocator<short> > &, Coup const &, bool) [9]
                0.07    0.00  312004/314904      Plateau::unmove(vector<short, allocator<short> > const &, Coup const &, bool) [10]
                               84719             Plateau::ennemi_ab(int, double, double, short, short) [2]
-----------------------------------------------
...

-----------------------------------------------
                0.00    0.00      10/1927129     main [1]
                0.00    0.00   12359/1927129     Plateau::addjump(PossibleMove &, short, Coup &, Position const &, int) [13]
                0.74    0.11 1914760/1927129     Plateau::UpdatePM(PossibleMove &, short, int, int, int, Position const &, short, bool &) [5]
[6]     17.2    0.74    0.11 1927129         vector<Position, allocator<Position> >::_M_insert_aux(Position *, Position const &) [6]
                0.11    0.00 3854258/3854258     __uninitialized_copy_aux__H2ZP8PositionZP8Position_X01X01X11G12__false_type_X11 [8]
                0.00    0.00       3/20          __default_alloc_template<true, 0>::_S_refill(unsigned int) [50]
-----------------------------------------------

...